body{
    font-family:'Alfa Slab One', cursive;
background-color: red;
font-family: 'Alfa Slab One', cursive;
}
.marc{
    font-family: 'Sora', sans-serif;
}
.florian{
    font-family: 'Creepster', cursive;
}
img{
    width: 50%;
}